:root {
  --Discord-Refresh-Version: "1.0.0";
}

/* Move the title to the left */
.visual-refresh .title_c38106 {
  align-items: left !important;
  justify-content: left !important;
}
.visual-refresh .title_c38106 .title__85643 {
  margin-left: 25px;
}

/* Prettier Disabled Input Area */
.form_f75fb0:has(.channelTextAreaDisabled__74017) {
  border-top: 2px solid var(--app-border-frame);
  height: 50px;
  background-color: var(--background-primary);
  cursor: not-allowed;
}
.form_f75fb0:has(.channelTextAreaDisabled__74017) .channelTextAreaDisabled__74017.channelTextAreaDisabled__74017 {
  background-color: transparent;
  border: none;
  text-align: center;
}
.form_f75fb0:has(.channelTextAreaDisabled__74017) .channelTextAreaDisabled__74017.channelTextAreaDisabled__74017 .rightAccessories__74017,
.form_f75fb0:has(.channelTextAreaDisabled__74017) .channelTextAreaDisabled__74017.channelTextAreaDisabled__74017 .buttons__74017 {
  display: none;
}

/* Fix Forward Icon */
[d="M21.7 7.3a1 1 0 0 1 0 1.4l-5 5a1 1 0 0 1-1.4-1.4L18.58 9H13a7 7 0 0 0-7 7v4a1 1 0 1 1-2 0v-4a9 9 0 0 1 9-9h5.59l-3.3-3.3a1 1 0 0 1 1.42-1.4l5 5Z"] {
  d: path("M 0,0 V 0 M13 16V5.41l3.3 3.3a1 1 0 1 0 1.4-1.42l-5-5a1 1 0 0 0-1.4 0l-5 5a1 1 0 0 0 1.4 1.42L11 5.4V16a1 1 0 1 0 2 0ZM4 15a1 1 0 0 1 1-1h2a1 1 0 1 0 0-2H5a3 3 0 0 0-3 3v4a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-4a3 3 0 0 0-3-3h-2a1 1 0 1 0 0 2h2a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-4Z") !important;
}

/* Move popover to left for messages sent by yourself */
#app-mount [class^=messageListItem__] [data-is-self=true] .buttonContainer_c19a55 {
  position: absolute;
  rotate: 180deg;
  left: 20px;
}
#app-mount [class^=messageListItem__] [data-is-self=true] .buttonContainer_c19a55 .buttonsInner__5126c {
  rotate: 180deg;
}

#app-mount [class^=messageListItem__] [data-is-self=true],
#app-mount .message__5126c[data-author-self=true] {
  margin-left: auto;
  padding-right: 16px !important;
}

.isSystemMessage_c19a55 {
  margin-left: auto;
  width: auto;
  padding-left: unset !important;
  padding-right: unset !important;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .container_b7e1cb :not(.container_b7e1cb *),
#app-mount .message__5126c[data-author-self=true] .container_b7e1cb {
  direction: rtl;
  text-align: right;
  padding-right: 40px;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .groupStart__5126c:not(.markup__75297),
#app-mount .message__5126c[data-author-self=true] .groupStart__5126c:not(.markup__75297) {
  text-align: right;
  padding-right: 8px;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .groupStart__5126c > .contents_c19a55 > .markup__75297,
#app-mount .message__5126c[data-author-self=true] .groupStart__5126c > .contents_c19a55 > .markup__75297 {
  text-align: left;
}

#app-mount [class^=messageListItem__] [data-is-self=true]:not(.systemMessage__5126c) .contents_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true]:not(.systemMessage__5126c) .container_b7e1cb:not(:empty),
#app-mount .message__5126c[data-author-self=true] .contents_c19a55 {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 45px !important;
}

#app-mount [class^=messageListItem__] [data-is-self=true].message__5126c.selected__5126c .contents_c19a55,
#app-mount .message__5126c.selected__5126c[data-author-self=true] .contents_c19a55 {
  width: 100%;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .timestamp_c19a55,
#app-mount .message__5126c[data-author-self=true] .timestamp_c19a55 {
  left: unset;
  right: 8px;
  margin-top: 1.75px;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .replying__5126c .contents_c19a55 .messageContent_c19a55::before,
#app-mount [class^=messageListItem__] [data-is-self=true] .mentioned__5126c .contents_c19a55 .messageContent_c19a55::before,
#app-mount .replying__5126c[data-author-self=true] .contents_c19a55 .messageContent_c19a55::before,
#app-mount .mentioned__5126c[data-author-self=true] .contents_c19a55 .messageContent_c19a55::before {
  left: unset;
  right: 0;
}

#app-mount [class^=messageListItem__] [data-is-self=true]:not(.isSystemMessage_c19a55) .contents_c19a55 .messageContent_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true]:not(.isSystemMessage_c19a55, :has(.container__122e4)) .visualMediaItemContainer_f4758a,
#app-mount [class^=messageListItem__] [data-is-self=true]:not(.isSystemMessage_c19a55) .embed__623de,
#app-mount .message__5126c[data-author-self=true]:not(.isSystemMessage_c19a55) .contents_c19a55 .messageContent_c19a55,
#app-mount .message__5126c[data-author-self=true]:not(.isSystemMessage_c19a55) .visualMediaItemContainer_f4758a,
#app-mount .message__5126c[data-author-self=true]:not(.isSystemMessage_c19a55) .embed__623de,
#app-mount [data-author-self=true] .content__122e4 {
  margin-left: auto;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 21px !important;
}

#app-mount [class^=messageListItem__]:not(.isSystemMessage_c19a55) .container__122e4 .visualMediaItemContainer_f4758a,
[class^=messageListItem__] code, [class^=messageListItem__] code.inline {
  border-top-right-radius: 21px !important;
  border-top-left-radius: 21px !important;
  border-radius: 21px !important;
}

#app-mount [class^=messageListItem__]:not(.isSystemMessage_c19a55) .container__122e4 .content__122e4 {
  background-color: var(--bg-base-secondary) !important;
  border: solid 3px var(--app-border-frame) !important;
  border-top: 5px solid var(--brand-500) !important;
  padding: 8px;
  margin-top: 24px;
  border-radius: 21px;
}
#app-mount [class^=messageListItem__]:not(.isSystemMessage_c19a55) .container__122e4 .headerContainer__122e4 {
  position: absolute;
  top: 10px;
}
#app-mount [class^=messageListItem__]:not(.isSystemMessage_c19a55) .container__122e4 .headerContainer__122e4 .headerIcon__122e4, #app-mount [class^=messageListItem__]:not(.isSystemMessage_c19a55) .container__122e4 .headerContainer__122e4 .headerText__122e4.headerText__122e4 {
  color: var(--brand-500) !important;
  text-transform: capitalize !important;
  font-style: oblique !important;
}
#app-mount [class^=messageListItem__]:not(.isSystemMessage_c19a55) .container__122e4 .headerContainer__122e4 .headerIcon__122e4 path, #app-mount [class^=messageListItem__]:not(.isSystemMessage_c19a55) .container__122e4 .headerContainer__122e4 .headerText__122e4.headerText__122e4 path {
  fill: var(--brand-500) !important;
}
#app-mount [class^=messageListItem__]:not(.isSystemMessage_c19a55) .container__122e4 .quote__122e4 {
  display: none;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .container__122e4 .container_b7e1cb {
  margin-left: 0px !important;
  margin-right: auto !important;
}

#app-mount [class^=messageListItem__] :not(.isSystemMessage_c19a55) .container_b7e1cb {
  margin-top: 5px;
}
#app-mount [class^=messageListItem__] :not(.isSystemMessage_c19a55) .container_b7e1cb .embedSuppressButton__623de {
  right: 0;
}

.systemMessage__5126c .contents_c19a55 .messageContent_c19a55,
.isSystemMessage_c19a55 {
  border-top-left-radius: 21px !important;
  border-top-right-radius: 21px !important;
  border: none !important;
}

#app-mount .isSystemMessage_c19a55 .contents_c19a55 .messageContent_c19a55 {
  /* border: none!important; */
  height: 25px !important;
}
#app-mount .isSystemMessage_c19a55 .contents_c19a55 .messageContent_c19a55:not(:hover) .content__235ca {
  transition: tranlate ease 0.2s;
  translate: 5px;
}

.systemMessage__5126c {
  transition: all ease 0.5s;
  display: flex !important;
  justify-content: center !important;
}
.systemMessage__5126c:has(.welcomeCTA_f5d1e2) {
  margin-bottom: 45px !important;
}
.systemMessage__5126c .iconContainer__235ca {
  display: none;
}
.systemMessage__5126c .timestamp_c19a55 {
  transition: all ease 0.5s;
  opacity: 0;
  font-size: 0;
}
.systemMessage__5126c .welcomeCTA_f5d1e2 {
  transition: all ease 0.2s;
  margin-top: 10px !important;
  justify-self: center !important;
}

.systemMessage__5126c:hover {
  transition: all ease 0.5s;
}
.systemMessage__5126c:hover:has(.welcomeCTA_f5d1e2) {
  margin-bottom: 25px;
}
.systemMessage__5126c:hover:has(.welcomeCTA_f5d1e2) .welcomeCTA_f5d1e2 {
  margin-top: 15px !important;
}
.systemMessage__5126c:hover .timestamp_c19a55 {
  opacity: 1;
  font-size: small !important;
}

#app-mount [class^=messageListItem__] [data-is-self=true] a:not(.embed__623de .embedAuthorNameLink__623de),
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 #app-mount .message__5126c[data-author-self=true] a:not(.embed__623de .embedAuthorNameLink__623de),
#app-mount .message__5126c[data-author-self=true] .repliedMessage_c19a55 {
  margin-left: auto;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .embedAuthor__623de,
#app-mount .message__5126c[data-author-self=true] .embedAuthor__623de {
  direction: ltr;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .avatar_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true] .avatarDecoration_c19a55,
#app-mount .message__5126c[data-author-self=true] .avatar_c19a55,
#app-mount .message__5126c[data-author-self=true] .avatarDecoration_c19a55 {
  left: unset;
  right: 4px;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .avatarDecoration_c19a55 {
  right: 0px;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .header_c19a55,
#app-mount .message__5126c[data-author-self=true] .header_c19a55 {
  display: flex;
  flex-direction: row-reverse;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .header_c19a55 span,
#app-mount .message__5126c[data-author-self=true] .header_c19a55 span {
  margin-left: 0.25rem;
  margin-right: unset;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 {
  margin-left: auto;
  margin-right: 45px;
  rotate: 180deg;
  flex-direction: row-reverse;
}
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .repliedMessageClickableSpine_c19a55 {
  transform: scaleY(-1);
  translate: 15px -15px;
  margin-left: -15px;
  margin-right: 15px;
}
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .repliedTextPreview_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .chipletContainerInner__4a25c,
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .username_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .replyAvatar_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .repliedTextContentTrailingIcon_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .repliedTextContentLeadingIcon_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .botTagCompact_c19a55,
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .hg-username-handle {
  rotate: 180deg;
  padding-right: 5px;
}
#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55 .hg-username-handle.hg-username-handle {
  padding-right: 0;
}

#app-mount .contents_c19a55 > .messageContent_c19a55 {
  overflow: visible;
}

#app-mount .contents_c19a55 pre {
  max-width: 100%;
}

#app-mount .contents_c19a55 .messageContent_c19a55,
#app-mount .visualMediaItemContainer_f4758a,
#app-mount .embed__623de,
#app-mount .spotify-embed-container,
#app-mount [data-is-self=false] .container__122e4 {
  background-color: var(--bg-base-secondary) !important;
  border: solid 1px var(--app-border-frame) !important;
  padding: 8px;
  margin-left: unset;
  border-radius: 21px;
  border-top-left-radius: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

#app-mount [data-is-self=true] .container__122e4,
#app-mount [data-is-self=true] .spotify-embed-container {
  background-color: var(--bg-base-secondary) !important;
  border: solid 1px var(--app-border-frame) !important;
  padding: 8px;
  margin-left: unset;
  border-radius: 21px;
  border-top-right-radius: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

#app-mount .contents_c19a55 .messageContent_c19a55:has(.blockquoteContainer__75297) .blockquoteContainer__75297 {
  margin-right: -10px;
}
#app-mount .contents_c19a55 .messageContent_c19a55:has(.blockquoteContainer__75297) blockquote {
  margin-right: 5px;
}

#app-mount .contents_c19a55 {
  display: inline-block;
  max-width: 100%;
}

#app-mount .message__5126c {
  max-width: 100%;
}

#app-mount .message__5126c:hover:not(.replying__5126c):not(.mentioned__5126c) .contents_c19a55 .messageContent_c19a55,
#app-mount .message__5126c.selected__5126c:not(.replying__5126c):not(.mentioned__5126c) .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--background-secondary-alt);
}

#app-mount [class^=messageListItem__] [data-is-self=true] .compact_c19a55.wrapper_c19a55 .messageContent_c19a55 #app-mount .message__5126c.compact_c19a55.wrapper_c19a55[data-author-self=true] .messageContent_c19a55 {
  display: flex;
}

#app-mount .compact_c19a55.wrapper_c19a55 {
  padding-top: 8px;
  padding-bottom: 8px;
}

#app-mount .mentioned__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([class^=messageListItem__] [data-is-self=true]),
#app-mount .replying__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([class^=messageListItem__] [data-is-self=true]),
#app-mount .mentioned__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([data-author-self=true]),
#app-mount .replying__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([data-author-self=true]) {
  left: 4px;
}

#app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--background-mentioned);
}

#app-mount .mentioned__5126c:hover .contents_c19a55 .messageContent_c19a55,
#app-mount .mentioned__5126c.selected__5126c .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--background-mentioned-hover);
}

#app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55::before {
  background-color: var(--info-warning-foreground);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}

#app-mount .repliedMessage_c19a55 {
  background-color: var(--background-message-hover);
  margin-bottom: 0;
  padding: 6px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

#app-mount .replying__5126c .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--brand-experiment-05a);
}

#app-mount .replying__5126c:hover .contents_c19a55 .messageContent_c19a55,
#app-mount .replying__5126c.selected__5126c .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--brand-experiment-10a);
}

#app-mount .replying__5126c .contents_c19a55 .messageContent_c19a55::before {
  background-color: var(--brand-experiment);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}

#app-mount [class^=messageListItem__] [data-is-self=true] .repliedMessage_c19a55:before,
#app-mount .message__5126c[data-author-self=true] .repliedMessage_c19a55:before,
#app-mount .mentioned__5126c:before,
.replying__5126c:before,
.repliedMessage_c19a55:before,
.spine__9271d.cozy__9271d,
.message__5126c::after {
  display: none;
}

/* --Improved User Area-- */
/* Make both the username and status message visible at all times. */
.container__37e49 .avatarWrapper__37e49 .hovered__0263c,
.avatarWrapper__37e49 .hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .default__0263c {
  opacity: 1 !important;
  transform: none;
}

.container__37e49 .nameTag__37e49 {
  padding-left: 0px;
  padding-right: 10px;
}

/* Adds an @ to the username. Discord, for the love of god, just add this yourself already. */
.container__37e49 .hovered__0263c::before {
  content: "@";
}

/* Move the custom Status message down so that it doesnt overlap with the Username */
.avatarWrapper__37e49 .default__0263c {
  margin-top: 15px;
}

/* Credit to @thecommieaxolotl for this code. */
/* --Hides User Buttons until Hover-- */
/* Hide mute and deafen buttons */
.panels_c48ade > .container__37e49 .flex__7c0ba > :not(:last-child) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.3s ease-in-out;
}

/* Reveal mute and Deafen buttons when settings button is hovered */
.panels_c48ade > .container__37e49 .flex__7c0ba:hover > :not(:last-child) {
  opacity: 100% !important;
  width: 32px;
}

/* Resize and move the profile button to take up all the space it can to look clean. */
.avatarWrapper__37e49 {
  transition: all 0.3s ease-in-out;
  width: 100% !important;
  margin-left: -10px;
  height: 53px;
  border-radius: 0 !important;
}

/* Move the avatar back to the right a bit to look clean. */
.container__37e49 .content__37e49 {
  margin-top: -10px !important;
}

/* Always top Home Button */
[aria-label="Boost this server"] {
  display: none;
}

.guilds_c48ade .unreadMentionsIndicatorTop_ef3116 {
  top: 40px;
}

.guilds_c48ade .tree_ef3116:focus {
  outline-color: transparent;
}

.guilds_c48ade .scroller_ef3116 {
  contain: unset;
  margin-top: 50px;
}

.guilds_c48ade .scroller_ef3116 .tutorialContainer__1f388 {
  position: fixed;
  transform: translatey(-100%);
  padding-bottom: 10px;
  z-index: 2;
}

.scroller_ef3116::before {
  content: "";
  position: fixed;
  top: 86px;
  width: 72px;
  height: 20px;
  background: linear-gradient(var(--background-tertiary), transparent 95%);
  z-index: 1;
  pointer-events: none;
}

/* Always bottom Server List Buttons */
.scroller_ef3116,
.itemsContainer_ef3116 {
  contain: unset;
  margin-bottom: 90px !important;
  padding-bottom: 20px !important;
}

.scroller_ef3116::after {
  content: "";
  position: fixed;
  bottom: calc(var(--custom-app-panels-height, 0) - 65px);
  width: 72px;
  height: 200px;
  background: linear-gradient(transparent, var(--background-tertiary) 10%);
  z-index: 1;
  pointer-events: none;
}

.tutorialContainer__650eb {
  position: fixed;
  bottom: calc(var(--custom-app-panels-height, 0) + 65px);
  z-index: 2;
}

.tutorialContainer__650eb + .listItem__650eb {
  position: fixed;
  bottom: calc(var(--custom-app-panels-height, 0) + 15px);
  contain: none;
  z-index: 2;
}

.guilds_c48ade .unreadMentionsIndicatorBottom_ef3116 {
  bottom: 90px;
}

/* bring back the @usernames */
.userTagUsername__63ed3:before {
  color: var(--text-muted);
  content: "@";
}

.message__5126c[data-author-id=""] .header_c19a55 .username_c19a55::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  padding-right: 5px;
}

.message__5126c[data-author-id=""] .contents_c19a55::before {
  content: "Refresh Tweaks Contributor";
  position: absolute;
  bottom: 100%;
  transform: translateX(-40%);
  background: var(--background-primary);
  color: var(--text-normal);
  border: solid 1px var(--app-border-frame);
  padding: 5px 8px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  pointer-events: none;
  z-index: 20;
}

.message__5126c.hasReply_c19a55[data-author-id=""] .contents_c19a55::before {
  bottom: 68%;
}

.message__5126c[data-author-id=""]:has(.username_c19a55:hover) .contents_c19a55::before {
  transition-delay: 1s;
  opacity: 1;
  visibility: visible;
}

.repliedMessage_c19a55:has([src*=""]) .replyAvatar_c19a55.replyAvatar_c19a55 {
  padding-right: 0 !important;
  margin-left: 0px;
}
.repliedMessage_c19a55:has([src*=""]) .username_c19a55 {
  padding-left: 15px;
}
.repliedMessage_c19a55:has([src*=""]) .username_c19a55::after {
  position: absolute;
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  left: -2px;
}

.member__5d473:has(.avatar__44b0c[src*=""]) .content__91a9d .nameAndDecorators__91a9d::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-left: -2px;
}

.layer_da8173:has([data-member-id=""]) .usernameRow__63ed3::before,
.panel_c0bea0[data-member-id=""] .usernameRow__63ed3::before,
.fullSize_c0bea0[data-member-id=""] .usernameRow__63ed3::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-right: -2px;
}

.dm__972a0:has(.avatar__44b0c[src*=""]) .content__20a53 .nameAndDecorators__20a53::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-left: -2px;
}

.message__5126c[data-author-id=""] .header_c19a55 .username_c19a55::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  padding-right: 5px;
}

.message__5126c[data-author-id=""] .contents_c19a55::before {
  content: "Refresh Tweaks Contributor";
  position: absolute;
  bottom: 100%;
  transform: translateX(-40%);
  background: var(--background-primary);
  color: var(--text-normal);
  border: solid 1px var(--app-border-frame);
  padding: 5px 8px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  pointer-events: none;
  z-index: 20;
}

.message__5126c.hasReply_c19a55[data-author-id=""] .contents_c19a55::before {
  bottom: 68%;
}

.message__5126c[data-author-id=""]:has(.username_c19a55:hover) .contents_c19a55::before {
  transition-delay: 1s;
  opacity: 1;
  visibility: visible;
}

.repliedMessage_c19a55:has([src*=""]) .replyAvatar_c19a55.replyAvatar_c19a55 {
  padding-right: 0 !important;
  margin-left: 0px;
}
.repliedMessage_c19a55:has([src*=""]) .username_c19a55 {
  padding-left: 15px;
}
.repliedMessage_c19a55:has([src*=""]) .username_c19a55::after {
  position: absolute;
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  left: -2px;
}

.member__5d473:has(.avatar__44b0c[src*=""]) .content__91a9d .nameAndDecorators__91a9d::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-left: -2px;
}

.layer_da8173:has([data-member-id=""]) .usernameRow__63ed3::before,
.panel_c0bea0[data-member-id=""] .usernameRow__63ed3::before,
.fullSize_c0bea0[data-member-id=""] .usernameRow__63ed3::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-right: -2px;
}

.dm__972a0:has(.avatar__44b0c[src*=""]) .content__20a53 .nameAndDecorators__20a53::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-left: -2px;
}

.message__5126c[data-author-id=""] .header_c19a55 .username_c19a55::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  padding-right: 5px;
}

.message__5126c[data-author-id=""] .contents_c19a55::before {
  content: "Refresh Tweaks Contributor";
  position: absolute;
  bottom: 100%;
  transform: translateX(-40%);
  background: var(--background-primary);
  color: var(--text-normal);
  border: solid 1px var(--app-border-frame);
  padding: 5px 8px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  pointer-events: none;
  z-index: 20;
}

.message__5126c.hasReply_c19a55[data-author-id=""] .contents_c19a55::before {
  bottom: 68%;
}

.message__5126c[data-author-id=""]:has(.username_c19a55:hover) .contents_c19a55::before {
  transition-delay: 1s;
  opacity: 1;
  visibility: visible;
}

.repliedMessage_c19a55:has([src*=""]) .replyAvatar_c19a55.replyAvatar_c19a55 {
  padding-right: 0 !important;
  margin-left: 0px;
}
.repliedMessage_c19a55:has([src*=""]) .username_c19a55 {
  padding-left: 15px;
}
.repliedMessage_c19a55:has([src*=""]) .username_c19a55::after {
  position: absolute;
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  left: -2px;
}

.member__5d473:has(.avatar__44b0c[src*=""]) .content__91a9d .nameAndDecorators__91a9d::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-left: -2px;
}

.layer_da8173:has([data-member-id=""]) .usernameRow__63ed3::before,
.panel_c0bea0[data-member-id=""] .usernameRow__63ed3::before,
.fullSize_c0bea0[data-member-id=""] .usernameRow__63ed3::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-right: -2px;
}

.dm__972a0:has(.avatar__44b0c[src*=""]) .content__20a53 .nameAndDecorators__20a53::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNkZjhlMWQiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yaWJib24iPjxwYXRoIGQ9Ik0xMiAxMS4yMkMxMSA5Ljk5NyAxMCA5IDEwIDhhMiAyIDAgMCAxIDQgMGMwIDEtLjk5OCAyLjAwMi0yLjAxIDMuMjIiLz48cGF0aCBkPSJtMTIgMTggMi41Ny0zLjUiLz48cGF0aCBkPSJNNi4yNDMgOS4wMTZhNyA3IDAgMCAxIDExLjUwNy0uMDA5Ii8+PHBhdGggZD0iTTkuMzUgMTQuNTMgMTIgMTEuMjIiLz48cGF0aCBkPSJNOS4zNSAxNC41M0M3LjcyOCAxMi4yNDYgNiAxMC4yMjEgNiA3YTYgNSAwIDAgMSAxMiAwYy0uMDA1IDMuMjItMS43NzggNS4yMzUtMy40MyA3LjVsMy41NTcgNC41MjdhMSAxIDAgMCAxLS4yMDMgMS40M2wtMS44OTQgMS4zNmExIDEgMCAwIDEtMS4zODQtLjIxNUwxMiAxOGwtMi42NzkgMy41OTNhMSAxIDAgMCAxLTEuMzkuMjEzbC0xLjg2NS0xLjM1M2ExIDEgMCAwIDEtLjIwMy0xLjQyMnoiLz48L3N2Zz4=");
  margin-left: -2px;
}

.message__5126c[data-author-id="801089753038061669"] .header_c19a55 .username_c19a55::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmMzhiYTgiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jcm93biI+PHBhdGggZD0iTTExLjU2MiAzLjI2NmEuNS41IDAgMCAxIC44NzYgMEwxNS4zOSA4Ljg3YTEgMSAwIDAgMCAxLjUxNi4yOTRMMjEuMTgzIDUuNWEuNS41IDAgMCAxIC43OTguNTE5bC0yLjgzNCAxMC4yNDZhMSAxIDAgMCAxLS45NTYuNzM0SDUuODFhMSAxIDAgMCAxLS45NTctLjczNEwyLjAyIDYuMDJhLjUuNSAwIDAgMSAuNzk4LS41MTlsNC4yNzYgMy42NjRhMSAxIDAgMCAwIDEuNTE2LS4yOTR6Ii8+PHBhdGggZD0iTTUgMjFoMTQiLz48L3N2Zz4=");
  padding-right: 5px;
}

.message__5126c[data-author-id="801089753038061669"][data-is-self=true] .header_c19a55 .username_c19a55::before {
  content: none;
  padding-right: 0;
}
.message__5126c[data-author-id="801089753038061669"][data-is-self=true] .header_c19a55 .username_c19a55::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmMzhiYTgiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jcm93biI+PHBhdGggZD0iTTExLjU2MiAzLjI2NmEuNS41IDAgMCAxIC44NzYgMEwxNS4zOSA4Ljg3YTEgMSAwIDAgMCAxLjUxNi4yOTRMMjEuMTgzIDUuNWEuNS41IDAgMCAxIC43OTguNTE5bC0yLjgzNCAxMC4yNDZhMSAxIDAgMCAxLS45NTYuNzM0SDUuODFhMSAxIDAgMCAxLS45NTctLjczNEwyLjAyIDYuMDJhLjUuNSAwIDAgMSAuNzk4LS41MTlsNC4yNzYgMy42NjRhMSAxIDAgMCAwIDEuNTE2LS4yOTR6Ii8+PHBhdGggZD0iTTUgMjFoMTQiLz48L3N2Zz4=");
  padding-left: 5px;
}

.message__5126c[data-author-id="801089753038061669"] .contents_c19a55::before {
  content: "Refresh Tweaks Author";
  position: absolute;
  bottom: 100%;
  transform: translateX(-40%);
  background-color: color-mix(in srgb, #f38ba8 10%, var(--bg-base-tertiary));
  border: solid 1px color-mix(in srgb, #f38ba8 50%, var(--app-border-frame));
  color: var(--text-normal);
  padding: 5px 8px;
  font-size: 12px;
  white-space: nowrap;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  pointer-events: none;
  z-index: 20;
}

.message__5126c[data-author-id="801089753038061669"][data-is-self=true] .contents_c19a55::before {
  right: -4%;
}

.message__5126c.hasReply_c19a55[data-author-id="801089753038061669"] .contents_c19a55::before {
  bottom: 68%;
}

.message__5126c[data-author-id="801089753038061669"]:has(.username_c19a55:hover) .contents_c19a55::before {
  transition-delay: 1s;
  opacity: 1;
  visibility: visible;
}

.repliedMessage_c19a55:has([src*="801089753038061669"]) .replyAvatar_c19a55.replyAvatar_c19a55 {
  padding-right: 0 !important;
  margin-left: 0px;
}
.repliedMessage_c19a55:has([src*="801089753038061669"]) .username_c19a55 {
  padding-left: 15px;
}
.repliedMessage_c19a55:has([src*="801089753038061669"]) .username_c19a55::after {
  position: absolute;
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmMzhiYTgiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jcm93biI+PHBhdGggZD0iTTExLjU2MiAzLjI2NmEuNS41IDAgMCAxIC44NzYgMEwxNS4zOSA4Ljg3YTEgMSAwIDAgMCAxLjUxNi4yOTRMMjEuMTgzIDUuNWEuNS41IDAgMCAxIC43OTguNTE5bC0yLjgzNCAxMC4yNDZhMSAxIDAgMCAxLS45NTYuNzM0SDUuODFhMSAxIDAgMCAxLS45NTctLjczNEwyLjAyIDYuMDJhLjUuNSAwIDAgMSAuNzk4LS41MTlsNC4yNzYgMy42NjRhMSAxIDAgMCAwIDEuNTE2LS4yOTR6Ii8+PHBhdGggZD0iTTUgMjFoMTQiLz48L3N2Zz4=");
  left: -2px;
}

.member__5d473:has(.avatar__44b0c[src*="801089753038061669"]) .content__91a9d .nameAndDecorators__91a9d::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmMzhiYTgiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jcm93biI+PHBhdGggZD0iTTExLjU2MiAzLjI2NmEuNS41IDAgMCAxIC44NzYgMEwxNS4zOSA4Ljg3YTEgMSAwIDAgMCAxLjUxNi4yOTRMMjEuMTgzIDUuNWEuNS41IDAgMCAxIC43OTguNTE5bC0yLjgzNCAxMC4yNDZhMSAxIDAgMCAxLS45NTYuNzM0SDUuODFhMSAxIDAgMCAxLS45NTctLjczNEwyLjAyIDYuMDJhLjUuNSAwIDAgMSAuNzk4LS41MTlsNC4yNzYgMy42NjRhMSAxIDAgMCAwIDEuNTE2LS4yOTR6Ii8+PHBhdGggZD0iTTUgMjFoMTQiLz48L3N2Zz4=");
  margin-left: -2px;
}

.layer_da8173:has([data-member-id="801089753038061669"]) .usernameRow__63ed3::before,
.panel_c0bea0[data-member-id="801089753038061669"] .usernameRow__63ed3::before,
.fullSize_c0bea0[data-member-id="801089753038061669"] .usernameRow__63ed3::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmMzhiYTgiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jcm93biI+PHBhdGggZD0iTTExLjU2MiAzLjI2NmEuNS41IDAgMCAxIC44NzYgMEwxNS4zOSA4Ljg3YTEgMSAwIDAgMCAxLjUxNi4yOTRMMjEuMTgzIDUuNWEuNS41IDAgMCAxIC43OTguNTE5bC0yLjgzNCAxMC4yNDZhMSAxIDAgMCAxLS45NTYuNzM0SDUuODFhMSAxIDAgMCAxLS45NTctLjczNEwyLjAyIDYuMDJhLjUuNSAwIDAgMSAuNzk4LS41MTlsNC4yNzYgMy42NjRhMSAxIDAgMCAwIDEuNTE2LS4yOTR6Ii8+PHBhdGggZD0iTTUgMjFoMTQiLz48L3N2Zz4=");
  margin-right: -2px;
}

.dm__972a0:has(.avatar__44b0c[src*="801089753038061669"]) .content__20a53 .nameAndDecorators__20a53::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmMzhiYTgiIHN0cm9rZS13aWR0aD0iMC43NSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jcm93biI+PHBhdGggZD0iTTExLjU2MiAzLjI2NmEuNS41IDAgMCAxIC44NzYgMEwxNS4zOSA4Ljg3YTEgMSAwIDAgMCAxLjUxNi4yOTRMMjEuMTgzIDUuNWEuNS41IDAgMCAxIC43OTguNTE5bC0yLjgzNCAxMC4yNDZhMSAxIDAgMCAxLS45NTYuNzM0SDUuODFhMSAxIDAgMCAxLS45NTctLjczNEwyLjAyIDYuMDJhLjUuNSAwIDAgMSAuNzk4LS41MTlsNC4yNzYgMy42NjRhMSAxIDAgMCAwIDEuNTE2LS4yOTR6Ii8+PHBhdGggZD0iTTUgMjFoMTQiLz48L3N2Zz4=");
  margin-left: -2px;
}